<div class="jumbotron mt-5">
  <h2 class="heading">Filtro de Noticias por País y Categoría</h2>
  <div class="row mt-3">
    <div class="col-lg-8 offset-lg-2">
      <form (ngSubmit)="buscarNoticia()">
        <div class="form-group">
          <select
            [(ngModel)]="categoriaSeleccionada"
            name="categoria"
            class="form-control form-control-lg mt-4"
          >
            <option
              [value]="categoria.value"
              *ngFor="let categoria of categorias"
            >
              {{ categoria.nombre }}
            </option>
          </select>
          <div class="form-group">
            <select
              [(ngModel)]="paisSeleccionado"
              name="pais"
              class="form-control form-control-lg mt-4"
            >
              <option [value]="pais.value" *ngFor="let pais of paises">
                {{ pais.nombre }}
              </option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-block btn-lg">
          BUSCAR
        </button>
      </form>
    </div>
  </div>
</div>
